@tailwind base;

@tailwind components;
/* text */
.h1 {
  @apply text-4xl font-bold mb-3;
}

/* button */
.btn {
  @apply bg-myColor-second font-bold rounded-full mt-4 py-4 px-8 shadow-lg uppercase tracking-wider text-gray-100;
}

.btn:focus {
  outline: none;
}

.btn-list {
  @apply bg-transparent text-teal-700 font-medium py-1 rounded text-left;
}

.btn-list:focus {
  outline: none;
}

.btn-prev-next {
  @apply bg-myColor-second text-gray-100 font-medium py-2 px-4;
}

.btn-prev-next:focus {
  outline: none;
}

.btn-md {
  @apply bg-blue-600 font-bold rounded-full mt-6 py-3 px-6 shadow-lg uppercase tracking-wider text-white;
}

@tailwind utilities;
